In [9]:
print('Hello World')

Hello World

In [10]:
x = 10
y = 20

In [11]:
x

10

In [12]:
print(x)

10

In [13]:
x+y

30

In [14]:
x - 3

7

In [15]:
x / 5

2.0

In [16]:
x // 3

3

In [17]:
x / 3

3.3333333333333335

In [18]:
-(-x//3)

4

In [19]:
3 ** 4

81

In [20]:
3 ** 2

9

In [21]:
100 ** 100

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [22]:
a = 100 ** 100

In [23]:
a

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [24]:
type(a)

int

In [25]:
cars = 100
drivers = 80

In [26]:
print('Car pool capacity', drivers * 4)

Car pool capacity 320

In [28]:
print('Car pool capacity %d' % (drivers * 4))

Car pool capacity 320

In [29]:
print('Car pool capacity {}'.format(drivers*4))

Car pool capacity 320

In [30]:
print('Total {} drivers available today so car pool capacity is {}'.format(drivers, drivers*4))

Total 80 drivers available today so car pool capacity is 320

In [31]:
print(f'Total {drivers} drivers available today so car pool capacity is {drivers*4}')

Total 80 drivers available today so car pool capacity is 320

In [32]:
a = 10

In [33]:
type(a)

int

In [34]:
id(a)

4442379888

In [35]:
a = 20

In [36]:
hex(4442379888)

'0x108c95670'

In [37]:
hex(id(a))

'0x108c957b0'

In [38]:
s = 'python is fun'

In [39]:
tye(s)

NameError: name 'tye' is not defined

In [40]:
type(s)

str

In [41]:
s

'python is fun'

In [42]:
print(s)

python is fun

In [43]:
s = 'python is fun'

In [44]:
s2 = "python is fun"

In [45]:
type(s)

str

In [46]:
type(s2)

str

In [47]:
hex(id(s))

'0x10b8c45f0'

In [48]:
hex(id(s2))

'0x10b8c4270'

In [49]:
s3 = s

In [50]:
s = 'new python'

In [51]:
a = 10
b = 20

In [52]:
a == b

False

In [53]:
x = 10
y = 10

In [54]:
x == y

True

In [56]:
'is' in s

False

In [57]:
s

'new python'

In [58]:
s = 'python is fun'

In [59]:
'is' in s

True

In [60]:
s = 'python'
'p' in s

True

In [61]:
if x > 10:
    print('X is greater than 10')

In [62]:
x

10

In [64]:
x > 9

True

In [69]:
if x > 19:
 print('X is greater than 10')
print('end of if')

end of if

In [77]:
print('Start of program')
if x > 19:
    print('X is greater than 10')
    print('end of if')
print('End of program')

Start of program
End of program

In [76]:
print('Start of program')
if x > 9:
    print('X is greater than 9')
    print('end of if')
print('End of program')

Start of program
X is greater than 10
end of if
End of program

In [78]:
if x>9:
    print('x is greater than 9')
else:
    print('x is NOT greater than 9')

x is greater than 9

In [79]:
if x<9:
    print('x is greater than 9')
else:
    print('x is NOT greater than 9')

x is NOT greater than 9

In [82]:
if x > 10:
    print('X is greater than 10')
elif x == 5:
    print('x is 5')
else:
    print('x is less than or equal to 10 but not 5')

x is less than or equal to 10 but not 5

In [81]:
x

10

In [84]:
if x > 10:
    print('X is greater than 10')
elif x == 5:
    print('x is 5')
elif x == 7:
    print('x is 7')
else:
    print('x is less than or equal to 10 but not 5')
    print('end of else')
print('end of program')

x is less than or equal to 10 but not 5
end of else
end of program

In [92]:
for c in s:
    print('printing letter', c)

printing letter p
printing letter y
printing letter t
printing letter h
printing letter o
printing letter n

In [86]:
s

'python'

In [89]:
5 in 2554

TypeError: argument of type 'int' is not iterable

In [90]:
s

'python'

In [91]:
s[0]

'p'

In [94]:
for i in range(10):
    print(i)
print('End of for loop')

0
1
2
3
4
5
6
7
8
9
End of for loop

In [95]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [97]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [103]:
for i in range(10, 50, 4):
    print(i, end=' | ')

10 | 14 | 18 | 22 | 26 | 30 | 34 | 38 | 42 | 46 |

In [106]:
for i in range(1,10):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [108]:
for i in range(10,4,-1):
    print(i, end=' ')

10 9 8 7 6 5

In [111]:
x = 10
while x > 3:
    print('Hello for', x)
    x = x - 1
print('End of while')

Hello for 10
Hello for 9
Hello for 8
Hello for 7
Hello for 6
Hello for 5
Hello for 4
End of while

In [112]:
x = 10
while x > 3:
    print('Hello for', x)
    x -= 1
print('End of while')

Hello for 10
Hello for 9
Hello for 8
Hello for 7
Hello for 6
Hello for 5
Hello for 4
End of while

In [116]:
for i in range(10):
    if i%2 == 0:
        print(i)
    print('inside for loop')

0
inside for loop
inside for loop
2
inside for loop
inside for loop
4
inside for loop
inside for loop
6
inside for loop
inside for loop
8
inside for loop
inside for loop

In [120]:
for i in range(10):
    if i%2 == 0:
        print(i)
    if i == 5:
        break
print('Outside for loop')

0
2
4
Outside for loop

In [124]:
print('start for loop')
for i in range(10):
    print(i)
    if i == 3:
        break
print('end for loop')

start for loop
0
1
2
3
end for loop

In [130]:
print('start for loop')
for i in range(8):
    if i == 3 or i == 4 or i == 5:
        continue
    print(i+77)
    print('end of for block.. Now move on to next iteration')
print('end for loop')

start for loop
77
end of for block.. Now move on to next iteration
78
end of for block.. Now move on to next iteration
79
end of for block.. Now move on to next iteration
83
end of for block.. Now move on to next iteration
84
end of for block.. Now move on to next iteration
end for loop

In [131]:
if x == 5:
    pass
else:
    print('inside else')

inside else

In [136]:
if x == 5:
    pass
else:
    print('inside else')

inside else

In [137]:
s

'python'

In [138]:
s = 'python is fun'

In [139]:
s

'python is fun'

In [140]:
s[0]

'p'

In [141]:
s[2]

't'

In [142]:
s[6]

' '

In [145]:
s[12]

'n'

In [146]:
len(s)

13

In [148]:
s[12] == s[len(s)-1]

True

In [149]:
s[13-1]

'n'

In [150]:
s[12]

'n'

In [151]:
len(s)

13

In [ ]:
s[len(s) - 1] --> s[13 - 1] --> s[12]

In [152]:
s

'python is fun'

In [153]:
s[0]

'p'

In [154]:
s[12]

'n'

In [155]:
s[-1]

'n'

In [156]:
s[-2]

'u'

In [157]:
s[-1] == s[len(s)-1]

True

In [158]:
s[-1] == s[12]

True