#### Day2

In [1]:
# List, Dict, Tuple.. Slicing

In [ ]:
s = 'cisco"123'
s = 'india'34'

In [ ]:
s = 'Python'
s2 = "python"

In [2]:
s = 'Reliance turnover for "2019" was $40bn'

In [3]:
s

'Reliance turnover for "2019" was $40bn'

In [4]:
s = "Reliance turnover for '2019' was $40bn"

In [5]:
s

"Reliance turnover for '2019' was $40bn"

In [6]:
s = 'Reliance turnover for \'2019\' was $40bn'

In [7]:
s

"Reliance turnover for '2019' was $40bn"

In [8]:
s2 = 'New line character is \n'

In [10]:
print(s2)

New line character is

In [11]:
s3 = 'New line character is \\n'

In [12]:
print(s3)

New line character is \n

In [13]:
x = 10
if x==10:
    print('x is 10')
# this is a test comment
print('Test end')

x is 10
Test end

In [14]:
x = 10
if x==10:
    print('x is 10')
# this is a test comment
# also another line as a comment
# end of comments
print('Test end')

x is 10
Test end

In [15]:
x = 10
if x==10:
    print('x is 10')
"""this is a test comment
also another line as a comment
end of comments """

print('Test end')

x is 10
Test end

In [ ]:
x = 10
if x==10:
    print('x is 10')
s5 = """this is a test comment
also another line as a comment
end of comments"""

print('Test end')

In [16]:
s1 = """test string"""
s2 = '''test string'''
s3 = 'test string'
s4 = "test string"

In [17]:
type(s1)

str

In [18]:
type(x)

int

In [19]:
my_list = [1,2,3,4,9]

In [20]:
type(my_list)

list

In [21]:
my_list = [2, 'hi', 2.9, 5,'new string']

In [22]:
my_list

[2, 'hi', 2.9, 5, 'new string']

In [24]:
my_list[1]

'hi'

In [25]:
my_list[-1]

'new string'

In [26]:
my_list[-1][-2]

'n'

In [27]:
my_list

[2, 'hi', 2.9, 5, 'new string']

In [28]:
my_list[0] = 88

In [29]:
my_list

[88, 'hi', 2.9, 5, 'new string']

In [30]:
hex(id(my_list))

'0x10d1b7908'

In [31]:
my_list[3] = 66

In [32]:
hex(id(my_list))

'0x10d1b7908'

In [33]:
my_list

[88, 'hi', 2.9, 66, 'new string']

In [35]:
len(my_list)

5

In [36]:
my_list[2]+1

3.9

In [37]:
my_list

[88, 'hi', 2.9, 66, 'new string']

In [38]:
my_list[2] = my_list[2]+1

In [39]:
my_list

[88, 'hi', 3.9, 66, 'new string']

In [41]:
for i in my_list:
    print(i)

88
hi
3.9
66
new string

In [42]:
s = 'python'
s[0]

'p'

In [43]:
s[0] = 'J'

TypeError: 'str' object does not support item assignment

In [44]:
hex(id(s))

'0x10a8d8148'

In [45]:
s = 'Jython'

In [46]:
hex(id(s))

'0x10ad0a308'

In [47]:
my_list

[88, 'hi', 3.9, 66, 'new string']

In [48]:
my_list[-1] = 'changed'

In [49]:
my_list

[88, 'hi', 3.9, 66, 'changed']

In [50]:
my_list[-1] = 'Changed'

In [51]:
my_list

[88, 'hi', 3.9, 66, 'Changed']

In [52]:
hex(id(my_list))

'0x10d1b7908'

In [53]:
dir(my_list)   # help()

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [54]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [55]:
s

'Jython'

In [56]:
s = 'python is fun'

In [57]:
s.capitalize()

'Python is fun'

In [58]:
help(s.capitalize)   # help(print)

Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [59]:
s.upper()

'PYTHON IS FUN'

In [60]:
s

'python is fun'

In [ ]:
s.upper()

In [61]:
help(my_list.append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [62]:
my_list

[88, 'hi', 3.9, 66, 'Changed']

In [63]:
my_list.append(77)

In [64]:
my_list

[88, 'hi', 3.9, 66, 'Changed', 77]

In [65]:
help(my_list.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [66]:
my_list.insert(3,8)

In [67]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77]

In [68]:
my_list.append(77,3)

TypeError: append() takes exactly one argument (2 given)

In [69]:
help(my_list.extend)

Help on built-in function extend:

extend(...) method of builtins.list instance
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

In [70]:
my_list.extend('python')

In [71]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77, 'p', 'y', 't', 'h', 'o', 'n']

In [72]:
my_list = [88, 'hi', 3.9, 8, 66, 'Changed', 77]

In [73]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77]

In [74]:
my_list.extend([505, 606])

In [75]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77, 505, 606]

In [76]:
# only difference between insert and extend is index.. correct

In [77]:
my_list = [88, 'hi', 3.9, 8, 66, 'Changed', 77]

In [78]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77]

In [79]:
my_list.append([505, 606])

In [80]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77, [505, 606]]

In [81]:
my_list = [88, 'hi', 3.9, 8, 66, 'Changed', 77]

In [82]:
my_list.extend([505, 606])

In [83]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77, 505, 606]

In [84]:
my_list.append('one')
my_list.append('two')

In [85]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77, 505, 606, 'one', 'two']

In [86]:
my_list.extend(['one', 'two'])

In [87]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77, 505, 606, 'one', 'two', 'one', 'two']

In [88]:
s.startswith('p')

True

In [89]:
s

'python is fun'

In [90]:
s.startswith('x')

False

In [91]:
s = 'first.py'
s.endswith('.py')

True

In [93]:
files = ['first.py', 'second.py', 'third.txt', 'forth']
for f in files:
    print(f)

first.py
second.py
third.txt
forth

In [94]:
files = ['first.py', 'second.py', 'third.txt', 'forth']
for f in files:
    if f.endswith('.py'):
        print(f)

first.py
second.py

In [95]:
s = '   python is    fun  '

In [96]:
s.strip()

'python is    fun'

In [100]:
s = '/py/thon///'

In [101]:
s

'/py/thon///'

In [102]:
s.strip('/')

'py/thon'

In [104]:
s = 'python'
s.strip('n')

'pytho'

In [106]:
s = 'python is fun'
s.split()

['python', 'is', 'fun']

In [107]:
s = 'python,is,fun,bye'

In [108]:
s

'python,is,fun,bye'

In [110]:
s.split(',')[1]

'is'

In [111]:
tp = (23,56,'string1',8)

In [112]:
type(tp)

tuple

In [114]:
tp[0]

23

In [115]:
for ele in tp:
    print(ele)

23
56
string1
8

In [116]:
tp

(23, 56, 'string1', 8)

In [118]:
s

'python,is,fun,bye'

In [ ]:
will it look s[0].split() or s.spilt()[0]

In [119]:
s = 'python python,is,fun,bye'

In [120]:
s

'python python,is,fun,bye'

In [121]:
s[0].split()

['p']

In [125]:
s.split(',')

['python python', 'is', 'fun', 'bye']

In [126]:
s.split(',')[0]

'python python'

In [134]:
my_dict = { 'name': 'Aakash', 'age': 26 }

In [135]:
my_dict

{'age': 26, 'name': 'Aakash'}

#### s = "new string data"
#### tp = ( )
#### lst = [ ]
#### dct = { }

In [ ]:
string -- iterable and indexed
immutable

list -- iterable and indexed
mutable in nature

tuple -- iterable and indexed
immutable

dict -- iterable and non-indexed
mutable

In [129]:
my_dict['name']

'Aakash'

In [136]:
my_dict

{'age': 26, 'name': 'Aakash'}

In [137]:
hex(id(my_dict))

'0x10d304e58'

In [138]:
my_dict['city'] = 'Montreal'

In [139]:
my_dict

{'age': 26, 'city': 'Montreal', 'name': 'Aakash'}

In [140]:
hex(id(my_dict))

'0x10d304e58'

In [141]:
for i in my_dict:
    print(i)

name
age
city

In [142]:
for i in my_dict.values():
    print(i)

Aakash
26
Montreal

In [143]:
for i in my_dict:
    print(i, '-->', my_dict[i])

name --> Aakash
age --> 26
city --> Montreal

In [145]:
for k,v in my_dict.items():
    print(k, '-->', v)

name --> Aakash
age --> 26
city --> Montreal

In [158]:
ladies_purse = {'money': 2500, 'cards': ['Amex', 'VISA'], 'candies': 12}

In [159]:
type(ladies_purse)

dict

In [160]:
ladies_purse

{'candies': 12, 'cards': ['Amex', 'VISA'], 'money': 2500}

In [161]:
# {'candies': 12, 'cards': ['Amex', 'VISA', 'Master'], 'money': 2500}

In [163]:
#ladies_purse['cards']
ladies_purse['cards'].append('Master')
#ladies_purse['cards'][2] = 'Master'

In [164]:
ladies_purse

{'candies': 12, 'cards': ['Amex', 'VISA', 'Master'], 'money': 2500}

In [165]:
len(ladies_purse)

3

In [167]:
ladies_purse['cards'][1][2]

'S'

In [168]:
s

'python python,is,fun,bye'

In [169]:
s[0]

'p'

In [170]:
s[-1]

'e'

In [175]:
s2 = s[2:16]

In [176]:
s2

'thon python,is'

In [178]:
type(s2)

str

In [ ]:
# range(start_index, stop, step)

In [177]:
s[2:16:2]

'to yhni'

In [181]:
# s [ start_index : stop_index : step ]
# Default values
# s [ 0 : len(s) : 1]

In [182]:
s

'python python,is,fun,bye'

In [183]:
s[:14]

'python python,'

In [184]:
s[:14:2]

'pto yhn'

In [185]:
# range(10,1,-1)
s[::-1]

'eyb,nuf,si,nohtyp nohtyp'

In [186]:
s = 'dad'
s == s[::-1]

True

In [187]:
my_list

[88, 'hi', 3.9, 8, 66, 'Changed', 77, 505, 606, 'one', 'two', 'one', 'two']

In [188]:
my_list[3:7]

[8, 66, 'Changed', 77]

In [190]:
my_list[3]

8

In [ ]:
dict1={}
dict1 = {'c1': 'bangalore' , 'c2': 'telangana'}

---------------------------------------------------------------------------
NameError Traceback (most recent call last)
<ipython-input-6-777f26ce10f2> in <module>()
----> 1 dict1 = {c1: 'bangalore' , c2: 'telangana'}

NameError: name 'c1' is not defined

In [191]:
c1 = 'c1'
c2='c2'
dict1 = {c1: 'bangalore' , c2: 'telangana'}

In [192]:
dict1 = {'c1': 'bangalore' , 'c2': 'telangana'}

In [193]:
dict1 = {1: 'bangalore' , 2: 'telangana'}

In [194]:
dict1

{1: 'bangalore', 2: 'telangana'}

In [195]:
names = ['John', 'Aakash', 'Alexandre', 'Muralidhar', 'Fred']
Get all names whose length is greater than 4
Output --> ['Aakash', 'Alexandre', 'Muralidhar']

In [207]:
x = 3
isinstance(x, int)

True

In [208]:
[ name for name in names if len(name)>4 ]

['Aakash', 'Alexandre', 'Muralidhar']

In [198]:
x = 'hi'
isinstance(x, int)

False

In [199]:
data = [34, 'aakash', 'Mumbai', 46, 7, 8, [45, 18], 4.5, 7.8, (14,15,16)]
Add only integers and float numbers from above list
--> add only 34, 46,7,8,4.5,7.8

In [200]:
type(5) == int

True

In [202]:
print(type(5))

<class 'int'>

In [203]:
print(isinstance(5, int))

True

In [205]:
def function1():
    print('Hello, welcome to first function')
    print('End of function1')

In [206]:
function1()

Hello, welcome to first function
End of function1

In [209]:
def greeting():
    print('Hello')
    print('welcome to first function')
    print('End of function1')

In [210]:
greeting()

Hello
welcome to first function
End of function1

In [214]:
def greeting(name):
    print('Hello', name)
    print('welcome to my function')
    print('End of function')

In [215]:
greeting('Aakash')

Hello Aakash
welcome to my function
End of function

In [216]:
greeting('Vijay')

Hello Vijay
welcome to my function
End of function

In [217]:
greeting('John')

Hello John
welcome to my function
End of function

In [219]:
greeting(26)

Hello 26
welcome to my function
End of function

In [222]:
def greeting(name, age):
    print('Hello', name)
    print('welcome to my function')
    print('End of function')
greeting('Aakash', 26)

Hello Aakash
welcome to my function
End of function

In [223]:
def greeting(name, age=25):
    print('Hello', name)
    print('welcome to my function')
    print('End of function')
greeting('Aakash')

Hello Aakash
welcome to my function
End of function

In [225]:
greeting('Mohan', 26)

Hello Mohan
welcome to my function
End of function

In [228]:
def greeting(name, age=25, ph=''):
    print('Hello', name)
    print('welcome to my function')
    print('End of function')

greeting('Aakash', 25, '+91 8365373676')

Hello Aakash
welcome to my function
End of function

In [229]:
def greeting(name, age, ph=None):
    print('Hello', name)
    print('welcome to my function')
    print('End of function')

greeting('Aakash', 25, '+91 8365373676')

Hello Aakash
welcome to my function
End of function

In [233]:
def greeting(*details):
    print('Hello', details)
    print('welcome to my function')
    print('End of function')

greeting('Aakash', 25, '+91 8365373676')

Hello ('Aakash', 25, '+91 8365373676')
welcome to my function
End of function

In [237]:
def greeting(*args):
    print('Hello', args[0], 'age:', args[1])
    print('welcome to my function')
    print('End of function')

greeting('Aakash', 25, '+91 8365373676')

Hello Aakash age: 25
welcome to my function
End of function

In [244]:
def greeting(*args, city='', gender='M'):
    print('Hello', args[0], 'age:', args[1])
    print('city', city)
    print('welcome to my function')
    print('End of function')

greeting('Aakash', 25, '+91 8365373676', gender='F', city='Mumbai')

Hello Aakash age: 25
city Mumbai
welcome to my function
End of function

In [245]:
print('1', end=' ')
print('2')

1 2

In [248]:
def greeting(*args, **more_details):
    print('args', args)
    print('other details', more_details['city'])
    print('End of function')

greeting('Aakash', 25, '+91 8365373676', gender='F', city='Mumbai')

args ('Aakash', 25, '+91 8365373676')
other details Mumbai
End of function

In [258]:
def greeting(*args, **kwargs):
    print('args', args)
    print('other details', kwargs['city'])
    print('End of function')

greeting('Aakash', 25, '+91 8365373676', gender='F', city='Mumbai')

args ('Aakash', 25, '+91 8365373676')
other details Mumbai
End of function

In [260]:
print(greeting('Aakash', 25, '+91 8365373676', gender='F', city='Mumbai'))

args ('Aakash', 25, '+91 8365373676')
other details Mumbai
End of function
None

In [261]:
def greeting(*args, **kwargs):
    print('args', args)
    print('other details', kwargs['city'])
    print('End of function')
    return 'Done'
print(greeting('Aakash', 25, '+91 8365373676', gender='F', city='Mumbai'))

args ('Aakash', 25, '+91 8365373676')
other details Mumbai
End of function
Done

In [262]:
ret = greeting('Aakash', 25, '+91 8365373676', gender='F', city='Mumbai')

args ('Aakash', 25, '+91 8365373676')
other details Mumbai
End of function

In [263]:
ret

'Done'

In [264]:
def add(a, b):
    return a+b

In [270]:
z = add(34,67)
print(z)

101

In [271]:
kk = add

In [272]:
kk(34,2)

36

In [273]:
def square(n):
    return n**2

In [276]:
list(map(square, [2,3,4]))

[4, 9, 16]

In [277]:
square(4)

16

In [282]:
list(map(lambda x: x**2, [2,3,4]))

[4, 9, 16]

In [284]:
x = 10
y = 20

In [285]:
x-y if x>y else y-x

10

In [286]:
if x > y:
    print(x-y)
else:
    print(y-x)

10

In [279]:
a = lambda x,y: x-y if x>y else y-x

In [280]:
a(34,2)

32

In [281]:
a(2, 34)

32

In [254]:
import math

In [255]:
math.sqrt(25)

5.0

In [256]:
math.floor(5/2)

2

In [257]:
math.ceil(5/2)

3

In [ ]:
# Can we get information about what functions & modules available?